AOPLATFORM_DATA_DIR=./data

CONTAINER_RESTART_POLICY=unless-stopped
HEALTHCHECK_INTERVAL=15s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=5
LOGGING_MAX_SIZE=10m
LOGGING_MAX_FILE=5

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=community
MYSQL_USER=community
MYSQL_PASSWORD=change_me

REDIS_PASSWORD=change_me

USER_DOMAIN=example.com
PROXY_LOCAL_BIND=61011
SERVICES_LOCAL_BIND=61013
NETWORK_BIND=61012
NGINX_BIND_HTTP=80
NGINX_BIND_HTTPS=443
